body{background: black;}
#name{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%; /* 100% of viewport height */
    width: 20%; /* 20% of viewport width */
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: orange;
}



#main{color:white;margin-left: 22vw}


.img {
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    border-radius: 50%; /* Creates a circular shape */
    overflow: hidden; /* Clips the image to fit the circular container */
    margin-left: 5vw;
}





  .sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;

  }

  .sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    color: orange;
    padding-left: 10px;
  }
  
  .sidebar li a:hover {
    background-color:orange;
    color: white;
  }